<!DOCTYPE html>
<html>
<head>
  <title>Askaquestion</title>
  <%= stylesheet_link_tag    "askaquestion/application", media: "all" %>
  <%= javascript_include_tag "askaquestion/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
