<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @answer.content %>
</p>

<%#= link_to 'Edit', edit_question_answer_path(@answer) %> |
<%= link_to 'Back', question_path(@question) %>
